<div class="innerUpgradeWrapper">

  <input id="tab1" type="radio" name="tabs" checked>
  <label class="lab1" for="tab1">Upgrades</label>

  <input id="tab2" type="radio" name="tabs">
  <label class="lab2" for="tab2">Skills</label>



  <section id="content1">
    <div style="width:100%;margin:0px auto;">
      <mat-expansion-panel style=margin:0px;width:100%;float:center;>
        <mat-expansion-panel-header>
          <mat-panel-title style="background-color:violet;border:10px;border-color:blueviolet">
            <p class="p_head">
              Upgrade numba one
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="width:100%">
          <button mat-flat-button color="accent" style="float: left;" (click)="buttPress()">Buy</button>
          <button mat-flat-button color="accent" style="display: inline;
                    float: none;">Buy 10</button>
          <button mat-flat-button color="accent" style="display: inline;
                    float: none;">Buy 100</button>
        </div>


      </mat-expansion-panel>
    </div>
  </section>

  <section id="content2">
    <mat-grid-list cols="3" rowHeight="0.5vh" gutterSize="5px">
      <div class="generatedSkillRow" *ngFor="let sTR of sTierTiles">

        <mat-grid-tile rowspan="12" class="generatedSkillTile" *ngFor="let sT of sTR; let j = index">
            <img class="skillImg" src="assets/resx/svg/skills/pic1.svg" alt="Owo">
        </mat-grid-tile>
        
        <mat-grid-tile colspan="3" class="dividerTile">
          <hr class="divider">
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </section>
  <div id="patreonWrapper">
    <a href="https://www.patreon.com/CRoyale" target="_blank" rel="noopener noreferrer">
        <img id="patreonImg" src="assets/resx/social/become_a_patron_button.png" alt="Become a Patron!">
    </a>
  </div>

</div>