<div id="clickerZone"
(click)="onClick($event)"
style="background-color: aquamarine"
(window:resize)="onResize()"
>
  Clicked:<br>
  x: {{posXPs}}% y: {{posYPs}}%<br>
  Targets:<br>
  x: {{divNextXs}}% y: {{divNextYs}}%<br>
  Clicked {{clicks}}x<br>
  Hit: {{hit}}<br>
  distS: {{distS}}
  <div id="tercik"
[style.left]="tl"
[style.top]="tt"
[style.width]="tw"
[style.height]="th"
></div>
<div id="tercikS"
[style.left]="tlS"
[style.top]="ttS"
[style.width]="twS"
[style.height]="thS"
></div>
</div>
<div id="canvas">

</div>
