<mat-grid-list cols="12" gutterSize="0px" style="height: 100vh"  rowheight="fit">
  <mat-grid-tile [colspan]="4" class="fullHeight">
    <div class="cCliSta">
       <div class="cClicker">
         <app-w-clicker></app-w-clicker>
       </div>

      <div class="cStats">
         <app-w-stats></app-w-stats>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" class="fullHeight">
    <div class="cUpgrades">
      <app-w-upgrades></app-w-upgrades>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="5" class="fullHeight">
    <div class="cPlayers">
      <app-w-players></app-w-players>
    </div>
  </mat-grid-tile>

</mat-grid-list>