h1{
    text-align: center;
    font-style: italic;
    line-height: 100%;
    margin: 0px;
    padding: 0px;
}
.mame{
    overflow: hidden;
}
.nemame{
    overflow: hidden;
    padding: 5px;
}
.mImgWrapper{
    display: flex;
    align-items: center;
    height: 24vh;
    width: 24vh;
    position: absolute;
    top:0px;
    left:0px;
    align-content: center;
    vertical-align: middle;
}
.buttonTile{
    padding-left: 4px;
    padding-right: 4px;
}
.buttonTop{
    position: absolute;
    margin-left: 2px;
    margin-right: 2px;
    width: calc(100% - 4px);
    height: 5vh;
    bottom: 0px;
    text-align: center;
    border-radius: 4px;
    background-color: black;
    color: #789;
    cursor: pointer;
    border: 1px solid #789;
    line-height: 5vh;
    align-content: center;
}
#matButton{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 24px);
    margin-left: 8px;
    margin-right: 16px;
}
i {
    line-height: 5vh;
}
.buttonTop:hover{
    color:#abc;
    border: 1px solid #abc;
}
.btnSelB{
    border: 2px solid #0af;
    color: #0af;
}
.btnSelB:hover{
    border: 2px solid #0af;
    color: #0af;
}
.btnSelR{
    border: 2px solid rgb(202, 35, 35);
    color: rgb(202, 35, 35);
}
.btnSelR:hover{
    border: 2px solid rgb(202, 35, 35);
    color: rgb(202, 35, 35);
}

.detailWrapper{
    display: flex;
    height: 24vh;
    width: calc(100% - 24vh);
    position: absolute;
    top:0px;
    right:0px;
    align-content: center;
    vertical-align: middle;
    color: white;
}
.detailImg{
    display: flex;
    margin: auto;
    width: 22vh;
    height: 22vh;
}
.visible{
    opacity: 1;
}
.invisible{
    opacity: 0;
}