<div class="mame" [class.visible]="playerTile != null" [class.invisible]="playerTile == null">
  <div class="mImgWrapper" [class.visible]="playerTile != null">
    <img *ngIf="playerTile != null" class="detailImg" [src]="getImgPath(playerTile.avatar_id)">
  </div>
  <div class="detailWrapper" *ngIf="playerTile != null">
    <div>
        <h2 id="bigNick">{{playerTile.nick | uppercase}}</h2>
        <h4 id="bigTitle">{{playerTile.title}}</h4>
    </div>
  </div>
</div>
<div class="nemame" [class.visible]="playerTile == null" [class.invisible]="playerTile != null">

    <mat-grid-list cols="5" rowHeight="5vh" gutterSize="5px" id="matButton">
        <mat-grid-tile class="buttonTile">
            <div [class.btnSelB]="(sortModeLocal == 0) && (ascLocal == false)" [class.btnSelR]="(sortModeLocal == 0) && (ascLocal == true)" (click)="btnSortMode(0)" class="buttonTop" *ngIf="playerTile == null">A-Z</div> 
        </mat-grid-tile>
        <mat-grid-tile class="buttonTile">
            <div [class.btnSelB]="(sortModeLocal == 1) && (ascLocal == false)" [class.btnSelR]="(sortModeLocal == 1) && (ascLocal == true)" (click)="btnSortMode(1)" class="buttonTop" *ngIf="playerTile == null"><i class="fas fa-shield-alt"></i></div>
          </mat-grid-tile>
        <mat-grid-tile class="buttonTile">
            <div [class.btnSelB]="(sortModeLocal == 2) && (ascLocal == false)" [class.btnSelR]="(sortModeLocal == 2) && (ascLocal == true)" (click)="btnSortMode(2)" class="buttonTop" *ngIf="playerTile == null"><i class="fab fa-gripfire"></i></div>
          </mat-grid-tile>
        <mat-grid-tile class="buttonTile">
            <div [class.btnSelB]="(sortModeLocal == 3) && (ascLocal == false)" [class.btnSelR]="(sortModeLocal == 3) && (ascLocal == true)" (click)="btnSortMode(3)" class="buttonTop" *ngIf="playerTile == null"><i class="fas fa-angle-double-up"></i></div>
          </mat-grid-tile>
       </mat-grid-list>
</div>