<div style="width:100%;margin:0px auto;">
<mat-expansion-panel style=margin:0px;width:100%;float:center;>
  <mat-expansion-panel-header>
    <mat-panel-title style="background-color:violet;border:10px;border-color:blueviolet">
      <p class="p_head">
      Upgrade numba one
      </p>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="width:100%">
    <button mat-flat-button color="accent" style="display: inline;
    float: none;">test</button>
  </div>
  

</mat-expansion-panel>
</div>
