<div class="innerUpgradeWrapper">

  <input id="tab1" type="radio" name="tabs" checked>
  <label class="lab1" for="tab1">Upgrades</label>

  <input id="tab2" type="radio" name="tabs">
  <label class="lab2" for="tab2">Skills</label>


      
        <section id="content1">
            <div style="width:100%;margin:0px auto;">
                <mat-expansion-panel style=margin:0px;width:100%;float:center;>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="background-color:violet;border:10px;border-color:blueviolet">
                      <p class="p_head">
                      Upgrade numba one
                      </p>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div style="width:100%">
                    <button mat-flat-button color="accent" style="
                    float: left;">Buy</button>
                    <button mat-flat-button color="accent" style="display: inline;
                    float: none;">Buy 10</button>
                    <button mat-flat-button color="accent" style="display: inline;
                    float: none;">Buy 100</button>
                  </div>
                  
                
                </mat-expansion-panel>
                </div>
        </section>
      
        <section id="content2">
          <p>
            Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.
          </p>
          <p>
            Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
          </p>
        </section>
      
      

</div>