h1{
    text-align: center;
    font-style: italic;
    line-height: 100%;
    margin: 0px;
    padding: 0px;
}
.mame{
    overflow: hidden;
}
.nemame{
    overflow: hidden;
}
.mImgWrapper{
    display: flex;
    align-items: center;
    height: 24vh;
    width: 24vh;
    position: absolute;
    top:0px;
    left:0px;
    align-content: center;
    vertical-align: middle;
}
.detailImg{
    display: flex;
    margin: auto;
    width: 22vh;
    height: 22vh;
}
.visible{
    opacity: 1;
}
.invisible{
    opacity: 0;
}