<script type = "text/javascript" src = "scroll.js" ></script>
<div>
  <div class="plaHeader"
  [class.noPlayer]="selectedPlayerTile == null"
  [class.yesPlayer]="selectedPlayerTile != null">
    <div class="plaSelected"
    [class.noPlayer]="selectedPlayerTile == null"
    [class.yesPlayer]="selectedPlayerTile != null"
    >
      <app-player-detail [playerTile]="selectedPlayerTile"></app-player-detail>
    </div>
    <div class="CountWrapper">
     <div class="plaCount"><span class="smallIcon"><i class="fas fa-male"></i></span><span class="smallText">{{alive}}</span></div>
     <div class="visCount"><span class="smallIcon"><i class="far fa-eye"></i></span><span class="smallText">{{visible}}</span></div>
    </div>
  </div>
  <div class="plaBody"
  [class.plaBodyNoPlayer]="selectedPlayerTile == null"
  [class.plaBodyYesPlayer]="selectedPlayerTile != null"
  >
          <div class="plaBodyContent">

      <mat-grid-list cols="{{columnCount}}" rowHeight="1:1" gutterSize="5px">
         <mat-grid-tile class="generatedTile"
              *ngFor="let PlayerTile of pTiles"
              [style.background]="PlayerTile.color"
              [class.selected]="PlayerTile === selectedPlayerTile"
              (click)="onSelect(PlayerTile)">
              <div class="tileContent">
                <div class="tileNick">{{PlayerTile.nick}}</div>
                <hr>
                <div class="statWrapper">
                  <div class="statUp">
                    <span class="statThief"><i class="fas fa-bug"></i></span>
                    <span class="statSpy"><i class="fas fa-user-secret"></i></span>
                  </div>
                  <div class="statDown">
                    <span class="statDef">{{PlayerTile.def}} <i class="fas fa-shield-alt"></i></span>
                    <span class="statAtt">{{PlayerTile.att}} <i class="fab fa-gripfire"></i></span>
                    <span class="statFarm">{{PlayerTile.farm}} <i class="fas fa-angle-double-up"></i></span>
                  </div>
                </div>
                <div class="imgWrapper">
                  <img class="tileImg" [src]="getImgPath(PlayerTile.avatar_id)">
                </div>
                
              </div>
              
         </mat-grid-tile>
        </mat-grid-list>
      </div>
  </div>
  <div class="plaFooter">
    <input id="tab1P" type="radio" name="tabsP" checked>
        <label for="tab1P">Basics</label>
      
        <input id="tab2P" type="radio" name="tabsP">
        <label for="tab2P">Powers</label>
      
        <section id="content1P">

            Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.

        </section>
      
        <section id="content2P">

            Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.

        </section>
  </div>
</div>