.plaBody{
    padding: 5px;
    height: 600px;
    overflow: hidden; 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.plaBody::-webkit-scrollbar { width: 0 !important }
.plaHeader{
    width: 100%;
    height: 70px;
}
.plaSelected{
    background-color: gray;
    width: 85%;
    float: left;
    height: 70px;
}
.plaCount{
    background-color: black;
    width: 15%;
    float: right;
    height: 70px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 3.5em;
}
.generatedTile {
    border-radius: 3px 15px 3px 15px;
    margin: 0px;
    opacity: 0.85;
}
.generatedTile:hover {
    opacity: 0.97;
}
.generatedTile:hover .tileImg {
    width: 70%;
 }
.plaBodyContent {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    padding-left:8px; 
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-y: scroll;
    padding-right: 16px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}
.tileContent {
    align-items: flex-start;
    padding: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
hr { 
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
	border: 1px dotted #CCCCCC;
  } 
.tileNick {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
.tileImg {
    display: block;
    margin: auto;
    width: 63%;
    margin-top: 1em;
  } 
 .imgWrapper{
     width: 100%;
 } 