<script type = "text/javascript" src = "scroll.js" ></script>
<div>
  <div class="plaHeader">
    <div class="plaSelected">custom player</div>
    <div class="plaCount">{{alive}}</div>
  </div>
  <div class="plaBody">
          <div class="plaBodyContent">

      <mat-grid-list cols="5" rowHeight="1:1" gutterSize="5px">
         <mat-grid-tile class="generatedTile"
              *ngFor="let PlayerTile of pTiles"
              [style.background]="PlayerTile.color"
              (mouseover)="msOver(PlayerTile.id);"
              (mouseout)="msOut(PlayerTile.id);">
              <div class="tileContent">
                <div class="tileNick">{{PlayerTile.nick}}</div>
              </div>
              
         </mat-grid-tile>
        </mat-grid-list>
      </div>
  </div>
  <div class="plaFooter"></div>
</div>