/* Víťa is here */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
margin: 0px;
padding: 0px;
background-color: azure;
font-size: calc(1em + 1vw);
}
* {
    font-family: Calibri, Helvetica, sans-serif;
    box-sizing: border-box;  /* add for browser prefixes */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

*::selection { background: transparent; } 
*::-moz-selection { background: transparent; }
