#classicLogin{
    position: absolute;
    left:0px;
    width:65%;
    padding-left: 16px;
    padding-right: 8px;
    height: 16vh;
}

.allowed{
    color:red;
}

#outerLogin{
    position: absolute;
    right:0px;
    width:35%;
    padding-left: 8px;
    padding-right: 16px;
    height: 16vh;
}

.formBtn{
    font-size: 2.5vh;
    line-height: 5vh;
    text-align: center;
    padding: 0px;
}

#gglIcon{
    position: absolute;
    left: 1vh;
    height: 3vh;
    width: 3vh;
    background-repeat: no-repeat;
    background-image: url('google.png');
    background-size: contain; 
    display: block;
    top: 1vh;
}

#fbIcon{
    position: absolute;
    left: 1vh;
    height: 3vh;
    width: 3vh;
    background-repeat: no-repeat;
    background-image: url('facebook.png');
    background-size: contain; 
    display: block;
    top: 1vh;
}

#fullIcon{
    position: absolute;
    left: 1vh;
    height: 3vh;
    width: 3vh;
    background-repeat: no-repeat;
    background-image: url('full.png');
    background-size: contain; 
    display: block;
    top: 1vh;
}

#goFullScreen{
    position: absolute;
    right: 2vh;
    height: 5vh;
    display: block;
    top: 2vh;
    z-index: 100;
}

#gglbtn{
    padding-left: 5vh;
    text-align: left;
    position: absolute;
    left: 8px;
    top: 10vh;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    overflow: hidden;
}

#fbbtn{
    padding-left: 5vh;
    text-align: left;
    position: absolute;
    left: 8px;
    top: 2vh;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    color: white;
    background-color: #4267B2;
    overflow: hidden;
}
#sadfacewrapper{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#sadface{
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('sadface.png');
    background-size: contain; 
    width: 25vh;
    height: 25vh;
}

#labmsgWrapper{
    position: absolute;
    text-align: center;
    font-size: 0.6em;
    bottom: 1em;
    width: calc(100% - 32px);
}

#loginBtn{
    margin-top: 2vh;
    position: absolute;
    width: 40%;
    left: 16px;
    background-color: forestgreen;
    line-height: 5vh;
}

#registerBtn{
    margin-top: 2vh;
    position: absolute;
    width: 40%;
    right: 8px;
    background-color: gold;
}

input {
    font-size: 0.6em;
    width: calc(100% - 24px);
    padding: 6px 10px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: initial; /* Safari */
    -khtml-user-select: initial; /* Konqueror HTML */
    -moz-user-select: initial; /* Firefox */
    -ms-user-select: initial; /* Internet Explorer/Edge */
    user-select: initial; /* Non-prefixed version, currently supported by Chrome and Opera */
}
  

#nofriends{
    position: absolute;
    text-align: center;
    font-size: 0.8em;
    bottom: 1em;
    width: calc(100% - 32px);
}

#frnds{
    text-align: left;
    font-size: 1em;
    margin-bottom: 0px;
}

.wlcmsg{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.loginWrapper{
    position: absolute;
    background-color: black;
    background-image: url(background01.JPG);
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.form-control{
    height: 5vh;
}

mat-card {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(- 20px + 100%);
    background-color: rgba(255, 255, 255, 0.85);
}

#cardsMain{
    top:15vh;
}

div.cardsRight{
    width: 30vw;
    position: absolute;
    height: 70vh;
    top: 15vh;
    cursor: default;
}

div.cardsLeft{
    width: 30vw;
    position: absolute;
    height: 70vh;
    top: 15vh;
    cursor: default;
}

.userErr{
    position: absolute;
    top: 0vh;
}

.passErr{
    position: absolute;
    top: 8vh;
}

.passLabel{
    position: absolute;
    top: 10vh;
}
.userLabel{
    position: absolute;
    top: 2vh;
}

#protect{
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 100vh;
    font-size: calc(2vw + 2vh);
    background-color: lightgray;
    color: rgb(97, 97, 97);
}

#formLoginX{
    height: 16vh;
}

.loginCard{
    margin-top: 0px;
    margin-bottom: 20px;
}

.playCard{
    margin-top: 20px;
    margin-bottom: 0px;
    height: calc(25vh - 10px);
}

.redErr{
    font-size: 0.5em;
    color: red;
}

.skinCard{
    margin-top: 0px;
    margin-bottom: 20px;
    height: calc(25vh - 10px);
}

.friendsCard{
    margin-top: 20px;
    margin-bottom: 0px;
    height: calc(45vh - 10px);
}

.gameBtn{
   width: 100%;
   font-size: calc(0.4em + 0.8vw); 
   height: 6vh;
   font-weight: bold;
   transition: background-color 0.5s;
}

.styleBtn{
    width: 100%;
    font-size: calc(0.4em + 0.8vw); 
    height: 6vh;
    font-weight: bold;
    transition: background-color 0.5s;
 }

#gmmds{
    position: absolute;
    top: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: 6vh;
}

#gmstls{
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: 6vh;
}

#readyBtn{
    background-color: rgb(61, 238, 61);
    top: calc(50% - 3.5vh);
    height: 7vh;
}

#playNowBtnWrapper{
    position: absolute;
    top: 0px;
    left: calc(10% + 16px);
    width: calc(80% - 32px);
    height: 100%;
    font-size: 1.2em;
}

.selectedBtn0{
    background-color: rgb(100, 100, 216);
}
.selectedBtn1{
    background-color: rgb(200, 78, 78);
}
.selectedBtn2{
    background-color: rgb(200, 78, 225);
}

.notSelectedBtn{
    background-color: gray;
}

.selectedSBtn0{
    background-color: rgb(100, 100, 216);
}
.selectedSBtn1{
    background-color: rgb(200, 78, 78);
}
.selectedSBtn2{
    background-color: rgb(200, 78, 225);
}

.notSelectedSBtn{
    background-color: gray;
}